.list-group-compact {

  .list-group-item {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
  }

}

tr.table-disabled, tr.table-disabled:hover {
  background-color: #efefef !important;
  color: #b5b5b5 !important;

  .badge {
    background-color: #c1c1c1 !important;
  }
}